@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#bg {
  width: 100%;
  height: 100%;
  /* border: solid red; */
  position: absolute;
}

.fliphouse {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.164)),
    url("https://thumbs.dreamstime.com/b/burnt-grunge-brick-wall-flaking-paint-wall-burnt-peeling-paint-now-black-used-to-be-white-revealing-brick-structure-154481847.jpg");
  background-size: cover;
}

.reghouse {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("https://images6.alphacoders.com/462/thumb-1920-462774.jpg");
  background-size: cover;
}

.basement_attic {
  background: black;
}

body,
html {
  margin: 0px;
}

body {
  background: gray;
  background-size: cover;
}

.gamescreen {
  width: 55%;
  height: 85%;
  margin-left: 23%;
  margin-top: 3%;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(rgba(39, 7, 7, 0.7), rgba(0, 0, 0, 0.5)),
    url("https://marketplacecdn.yoyogames.com/images/assets/3060/screenshots/8158_original.PNG?1449350336");
  background-size: 100% 100%;
}

.screentext {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
  margin-top: 2rem;
  margin-left: 5%;
  margin-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  overflow-y: scroll;
  height: 90%;
  width: 90%;
  text-align: center;
}

.screentext::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
}

.screentext > p {
  text-indent: 50px;
  text-align: left;
}

.screentext > img {
  width: 80%;
  margin-top: 1rem;
}

.convo_btns {
  background: none;
  color: white;
  text-align: left;
  border: none;
  float: left;
  margin-left: 5%;
}

.convo_btns:hover {
  color: grey;
}

button > img {
  width: 13px;
  float: left;
  margin-right: 1rem;
}

.inventory {
  margin-left: 1%;
}

.items {
  font-size: 2rem;
}

.col {
  width: 20%;
}

.aboutcreators {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
  margin-left: 14%;
  margin-bottom: 2%;
  text-align: left;
}
.card {
  margin: 0.5rem;
  padding: 0.5rem;
}

.introscreen {
  max-width: 80%;
  margin: auto;
  margin-top: 8%;
  padding-top: 1rem;
  text-align: center;
  border: solid rgb(77, 77, 77);
  border-radius: 10px;
  background: rgb(77, 77, 77);
}

.togreen {
  color: rgb(149, 275, 85);
}

.button {
  background: black;
  border: none;
}

.bitfont {
  font-family: "Press Start 2P", cursive;
}

.zindex {
  z-index: 1;
  position: absolute;
}

.cardbg {
  background: black;
  margin-bottom: 3rem;
}

.video {
  text-align: center;
  margin-top: 5%;
}

.rickroll {
  /* animation: rickroll ease 15s; */
  animation: rickroll 3s ease-in 5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  /* -webkit-animation: rickroll ease 15s;
  -moz-animation: rickroll ease 15s;
  -o-animation: rickroll ease 15s;
  -ms-animation: rickroll ease 15s; */
}

@keyframes rickroll {
  to {
    visibility: visible;
    width: 0;
    height: 0;
  }
}

.the {
  animation: the 3s ease-in 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes the {
  to {
    visibility: visible;
    width: 0;
    height: 0;
  }
}

.ends {
  animation: ends 3s ease-in 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes ends {
  to {
    visibility: visible;
    width: 0;
    height: 0;
  }
}

.q {
  animation: ends 3s ease-in 4s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes ends {
  to {
    visibility: visible;
    width: 0;
    height: 0;
  }
}