@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.screentext {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
}

body,
html {
  margin: 0px;
}

body {
  background: rgb(27, 27, 27);
}

.gamescreen > div {
  border: solid rgb(77, 77, 77);
  border-radius: 6px;
}

.gamescreen {
  max-width: 65%;
  margin-left: 17.5%;
  margin-top: 1%;
  position: absolute;
  border: solid rgb(77, 77, 77);
  border-radius: 10px;
}

.screen {
  width: 100%;
  height: 30rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://marketplacecdn.yoyogames.com/images/assets/3060/screenshots/8158_original.PNG?1449350336");
  background-size: 100% 100%;
}

.screentext {
  margin-top: 2.5rem;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
  overflow-y: scroll;
  height: 87%;
}

.screentext::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
}

.inventory {
  margin-left: 1%;
}

.items {
  font-size: 2rem;
}

.col {
  width: 20%;
}

.aboutcreators {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
  margin-left: 14%;
  margin-bottom: 2%;
  text-align: left;
}
.card {
  margin: 0.5rem;
  padding: 0.5rem;
}

.introscreen {
  max-width: 80%;
  margin: auto;
  margin-top: 8%;
  padding-top: 1rem;
  text-align: center;
  border: solid rgb(77, 77, 77);
  border-radius: 10px;
  background: rgb(77, 77, 77);
}

.togreen {
  color: rgb(134, 212, 17);
}

.button {
  background: black;
  border: none;
}

.bitfont {
  font-family: "Press Start 2P", cursive;
}

.zindex {
  z-index: 1;
  position: absolute;
}

.cardbg {
  background: black;
  margin-bottom: 3rem;
}
